a
{
  color: #000!important;
  text-decoration: none!important ;
  font-size: 20px!important;
  transition: 0.3s;
}
li a:hover
{
  color: aquamarine!important ;
}
/* img
{
  height: 100px;
  width: 100px;
} */
button{
  border: none;
  background-color: #162719;
  color: #fff;
  /* border-radius:10px!important ; */
  /* padding: 10px 20px 10px 20px; */
  font-size: 20px;
  transition: 0.3s;
}
body{
  overflow-x: hidden;
}
.menu
{
  background-color: #162719;
  padding: 10px;
}
button:hover 
{
  color: #00e0c6;
}
.img
{
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}
.img img{
  border-radius: 10px;
  transition: 0.3s;
  /* margin: 10px; */
}
.img:hover img
{
  transform: scale(1.2);
}